@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}

@layer components {
    .spinner {
        margin: 3.2rem auto 1.6rem;
        width: 60px;
        aspect-ratio: 1;
        border-radius: 9999px;
        border: 8px solid theme("colors.primary.900");
        border-right-color: theme("colors.primary.200");
        animation: rotate 1s linear infinite;
    }

    .spinner-mini {
        margin: 0;
        width: 20px;
        aspect-ratio: 1;
        border-radius: 9999px;
        border: 2px solid theme("colors.primary.200");
        border-right-color: transparent;
        animation: rotate 1s linear infinite;
    }

    .rdp {
        --rdp-cell-size: 32px;
        --rdp-accent-color: theme("colors.accent.500");
        --rdp-background-color: theme("colors.accent.600");
        margin: 0;
    }


}

.rdp-months {
    display: flex;
    flex-wrap: nowrap !important;
    gap: 0 !important
}


.rdp-month {
    margin: 0;
    padding: 15px;
}

@media (max-width:768px) {
    .rdp-months {
        flex-wrap: wrap !important;
        justify-content: center !important;
    }

    .rdp-month {
        width: fit-content;
        padding: 5px;
        font-size: 15px;
    }
}